@font-face {
    font-family: 'TUI-reg';
    src: url('TUITypeLight-Regular.eot');
    src: url('TUITypeLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('TUITypeLight-Regular.woff2') format('woff2'),
        url('TUITypeLight-Regular.woff') format('woff'),
        url('TUITypeLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


$color-blue: #092a5e;
$color-light-blue: #c2e6fa;
$color-sea-blue: #1896cf;
$color-sky-blue:#70cbf4;
$color-grey: #737373;
$color-grey-2: #b9b9b9;
$color-grey-3: #dcdcdc;
$color-light-grey: #8494ae;
$color-light-brown:  #f3f0ec;
$color-white:#ffffff;
$color-yellow: #ffe100;
$color-red:#d40e14;


$font-tui: TUI-reg, sans-serif;

$title-size-1: 40px;
$title-size-2: 30px;
$title-size-3: 20px;
$title-size-1-tablet: 30px;
$title-size-2-tablet: 25px;
$title-size-3-tablet: 18px;

$sub-title-size-1: 25px;
$sub-title-size-2: 20px;
$sub-title-size-1-tablet: 20px;
$sub-title-size-2-tablet: 16px;

$text-size-1:15px;
$text-size-2:20px;
$text-size-3:17px;


$input-size: 17px;